# Exemplo de variáveis de ambiente
# Copie este arquivo para .env e preencha as variáveis reais se necessário

# Exemplo de chave pública para envio de formulário do Web3Forms
# (Utilizada diretamente no HTML de maneira pública por design)
WEB3FORMS_ACCESS_KEY=a3478272-3551-43aa-858d-66b5f6ca803c
